black
jupyterlab
jupyterlab_vim
jupyterlab-git
jupyterlab_widgets
jupyterlab_code_formatter
lckr_jupyterlab-variableinspector

jupyterthemes==0.20.0
ipywidgets
import-ipynb

notebook
plotly==5.0.0
RISE==5.7.1

numpy==1.23.5
pandas==1.5.3
scipy==1.10.1
chardet
netCDF4
requests
beautifulsoup4

matplotlib==3.7.0
matplotlib_scalebar
Pillow
seaborn
opencv-python

cmaps
colorcet
colormaps

cartopy==0.21.0

keras
tensorflow==2.11.0
tensorflow-addons
protobuf==3.19.5
tensorboardX
tqdm==4.64.1
six

scikit-learn==1.2.2
tslearn
pydeps
graphviz
shap
umap
lightgbm
xgboost

jedi==0.18.2
flake8
autopep8
pylint

einops==0.7.0
patool==1.12
reformer-pytorch==1.4.4
sktime==0.16.1
sympy==1.11.1

pulp
ortoolpy
rasterio
xlrd
adjustText
